.topbar{
    width: 100%;
    height: 4rem;
    background-color: #e6edf3;
    position: sticky;
    top: 0;
    z-index: 999;

    .topWrapper{
        height: 100%;
        width: 100%;
        padding: 0px 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .topLeft{
            flex:1;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 20px;
            cursor: pointer;

            span{
                font-family: 'Lora', 'sans-serif';
                font-weight: 600;
                font-size: 2rem;
            }
            .topLeftIcon{
                font-size: 2rem !important;
                color: rgb(0, 132, 255);
            }
        }

        .topCenter{
            flex: 3;
            
            .searchbar{
                width: 100%;
                height: 2.5rem;
                background: white;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-left: 3.5rem;
                border-radius: 10px;

                .searchIcon{
                    font-size: 25px !important;
                    margin-left: 10px;
                }

                input{
                    border: none;
                    background-color: white;
                    width: 90%;
                    &::placeholder{
                        font-size: 1rem;
                    }
                }
            }
        }

        .topRight{
            flex:3;
            display: flex;
            align-items: center;
            justify-content: space-evenly;

            button{
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 10px;
                border: 1px solid black;
                background-color:white;
                margin-left: 30px;
                width: 150px;
                font-size: 1rem;
                color: black;
                cursor: pointer;

                .topAddIcon{
                    margin-right: 10px;
                }
                span{
                    font-family: 'Josefin Sans';
                    font-weight: bold;
                    font-size: 20px;
                    margin-left: 10px;
                }
            }

            .topRightIcons{
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;

                .rightIconsE{
                    margin-right: 20px;
                    font-size: 30px !important;
                    &:hover{
                        background-color: #cfdae4;
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        transition: 0.2s ease;
                        transform: 0px 0px;
                    }
                }
                .rightIconsC{
                    margin-left: 20px;
                    margin-top: 3px;
                    font-size: 25px !important;
                    &:hover{
                        background-color: #cfdae4;
                        border-radius: 50%;
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        transition: 0.2s ease;
                    }
                }
            }
        }
    }
}