.createLg{
    flex:2;
    
    margin-top: 60px;
    display: flex;
    font-family: 'Roboto' 'sans serif';

    .wrapper{
        display: flex;
        flex-direction: column;

        .top{
            display: flex;
            justify-content: center;
            flex-direction: column;
            font-family: 'Roboto' 'sans serif';
            
            span{
             font-size: 18px;
             font-weight: 500;  
            }

            input{
                margin-top: 10px;
                width: 95%;
                height: 30px;
                border-radius: 5px;

                &:focus{
                    outline: none;
                }
            }
        }

        .middle{
            display: flex;
            justify-content: center;
            flex-direction: column;
            margin-top: 10px;
            font-family: 'Roboto' 'sans serif';

            span{
                font-size: 18px;
                font-weight: 500; 
            }

            .coverSheet{
                width: 95%;
                padding: 3px;
                height: 200px;
                border: 1px dashed #82aaa7;
                border-radius: 10px;
                margin-top: 10px;
            }
        }

        .bottom{
            display: flex;
            justify-content: center;
            flex-direction: column;
            margin-top: 10px;
            font-family: 'Roboto' 'sans serif';

            span{
                font-size: 18px;
                font-weight: 500;
            }
            .copy{
                margin-top: 10px;
                font-size: 16px;
                color: #82aaa7;
            }
        }

        .buttons{
            margin-top: 15px;

            .discard{
                padding: 8px 64px;
                font-size: 1rem;
                font-weight: 500;
                border: none;
                border-radius: 6px;
                background-color: #adfaf6;
                color:#82aaa7;
            }

            .post{
                margin-left: 15px;
                padding: 8px 64px;
                font-size: 1rem;
                font-weight: 500;
                border: none;
                border-radius: 6px;
                background-color: #82aaa7;
                color:#fff
            }
        }
    }
}